[Unit]
Description=Mount for /mnt/backups-remote
[Mount]
Type=rclone
What=remote-backup-encrypt:
Where=/mnt/backups-remote
Options=rw,_netdev,allow_other,args2env,vfs-cache-mode=writes,config=/root/.config/rclone/rclone.conf,vv